/* Fundo geral da página */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

 body {
      background-color: #e8f0fe;
      font-family: 'Poppins', sans-serif;
      color: #343a40;
      padding-top: 70px;
    }

    .navbar {
      background-color: #0d6efd !important;
      padding: 0.75rem 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      z-index: 1050;
    }

    .navbar .navbar-brand {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #ffff !important;
      font-weight: 600;
      font-size: 1.2rem;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .navbar .navbar-brand svg {
      margin-right: 4px;
    }

    h2 {
      font-weight: bold;
      font-size: 2.5rem;
    }

    p {
      font-size: 0.95rem;
      color: #64748b;
      margin-bottom: 3rem;
    }

    .nav-tabs .nav-link.active {
      background-color: #f8fafc;
      border-color: #dee2e6 #dee2e6 #fff;
      border-radius: 8px;
      font-weight: 600;
    }

    .nav-tabs .nav-link {
      color: #495057;
    }

    .card {
      border-radius: 12px;
      border: none;
    }

    .card-body {
      padding: 2rem;
    }

    .alert-success {
      background-color: #d1fae5;
      border: none;
      color: #065f46;
    }

    .btn-outline-secondary {
      border-radius: 8px;
      text-align: left;
      padding: 0.75rem 1rem;
      font-weight: 500;
    }

    .btn-outline-secondary.text-danger {
      color: #dc3545;
      border-color: transparent;
    }

    .btn-outline-secondary.text-danger:hover {
      background-color: #ffe5e5;
    }

    .btn-danger {
      border-radius: 8px;
      font-weight: 600;
      padding: 0.75rem;
    }


    .btnhover:hover {
  background-color: #f1f5f9 !important;
  color: #0d6efd !important;
  border-color: #0d6efd !important;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}





  