body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
  }
  
  h2 {
    font-weight: bold;
    color: #2196f3;;

  }
  
  .btn-atividade {
    border-radius: 12px;
    font-size: 1rem;
    transition: transform 0.1s ease-in-out;
  }
  
  .btn-atividade:hover {
    transform: scale(1.01);
  }
  
  .positiva {
    background-color: #e9f7ef;
    border: 1px solid #2196f3;
    color: #1976d2;
  }
  
  .positiva:hover {
    background-color: #94c2e7;
  }
  
  .negativa {
    background-color: #fdecea;
    border: 1px solid #fb913b;
    color: #fb913b;
  }
  
  .negativa:hover {
    background-color: #ffddc1;
  }


  .spanpositive {
    background-color: #1976d2 !important;
  }



  .badge {
    font-size: 0.9rem;
    padding: 0.5em 0.75em;
  }

